In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
train=pd.read_table('train.tsv')
test=pd.read_table('test.tsv')

In [4]:
train.sample(2)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
1094375,1094375,Zelda Breath of the Wild Guardian amiibo,1,Electronics/Video Games & Consoles/Video Gamin...,Nintendo,31.0,0,"Brand new, never opened. Box has minor shelf w..."
1121301,1121301,Animal Whey Protein Powder,2,Other/Daily & Travel items/Sports Nutrition,NaN,12.0,0,Never used still sealed up. Love the protein b...

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1482535 entries, 0 to 1482534
Data columns (total 8 columns):
train_id             1482535 non-null int64
name                 1482535 non-null object
item_condition_id    1482535 non-null int64
category_name        1476208 non-null object
brand_name           849853 non-null object
price                1482535 non-null float64
shipping             1482535 non-null int64
item_description     1482531 non-null object
dtypes: float64(1), int64(3), object(4)
memory usage: 90.5+ MB